.scores-container {
    border: 1px solid black;
    width: 350px;
    height: max-content;
    margin: 15px auto 0px auto;

    display: grid;
    grid-template-rows: 1fr 4fr;
}

.submit-score {
    border: 3px solid var(--red-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.submit-score>form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    margin-top: 10px;
    padding: 5px;
}

.submit-score>form input {
    background-color: lightblue;
    border-radius: 3px;
}

.submit-score>form>button {
    font-weight: bold;
    padding: 5px;
    border-radius: 3px;
    color: var(--red-color);
    background-color: lightblue;
}

.player-time {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-time>p {
    font-size: 18px;
}

.map-scores-container {
    border: 3px solid var(--blue-color);
}

.map-scores-container>h1 {
    text-align: center;
}

.scores {
    margin-top: 10px;

    display: flex;
    justify-content: center;
}

.scores>table {
    border-collapse: collapse;
    font-size: 18px;
}

.scores>table th,
.scores>table td {
    padding: 3px 12px;
    margin: 0;
}